body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
}

button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color:white;
    text-align:center;
}

#header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

    #header button {
        background-color: #92a1d1;
    }

#container {
    width: 770px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
}

    #weekdays div {
        width: 100px;
        padding: 10px;
    }

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: aliceblue;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .day:hover {
        background-color: #e8faed;
    }

    .day + #currentDay {
        background-color: #e8f4fa;
    }

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

    #eventTitleInput.error {
        border: 2px solid red;
    }

 #deleteButton {
    background-color: #d36c6c;
}

#cancelButton{
    background-color:lightblue;
}

#saveButton, #closeButton {
    background-color: #92a1d1;
}
#open_notesButton {
    background-color: #92a1d1;
}


#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color:paleturquoise /*#eee*/;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.Center {
    /* width: 50px;
    height: 50px;
    background:red;
    margin-bottom: 50px;
    padding: 2%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    text-align: center;*/
    position: fixed;
    bottom: 190px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;

}

.btn-bottom {
    /*position: absolute;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 2px gray;
    bottom: 160px;
    padding: 10px 0px;
    padding-right: 400px;
    padding-left: 400px;
    margin: 0 auto;
    left: auto;
    right: auto;
    background-color: #92a1d1;
    border-radius: 15px;*/
    width: 75px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 4px grey;
    border: none;
    outline: none;
    bottom: 150px;
    padding-left: 400px;
    padding-right: 370px;
    border-radius: 20px;
    color: #FFFCFF;
    background-color: #FA8072 /*#F0E68C*/;
    /* width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 10px 200px;
    border-radius: 15px;
    color: #FFFCFF;
    background-color: #92a1d1;
    left: 200px;*/
}